<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.2.xsd ">

    <!-- 配置包扫描 -->
    <context:component-scan base-package="com.myway.controller"></context:component-scan>

    <!-- 加入springMVC特有的注解驱动 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 配置文件上传的编码 -->
        <property name="defaultEncoding" value="utf-8"></property>
        <!-- 配置文件上传大小 -->
        <property name="maxUploadSize" value="1048576"></property>
    </bean>

    <!--自定义的拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--path 是/api/get也可以/api/get/* 这样就拦截了前缀是/api/get的Controller-->
            <mvc:mapping path="/api/get.shtml"/>
            <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
            <bean class="com.myway.intercept.UserInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>