body.signin {
    background: #18c8f6;
    height: auto;
    background:url("../../images/login/background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255,255,255,.95);
}

.signinpanel {
    width: 912px;
    margin: 7% auto 0 auto;
}